In [10]:
CDS_Class = {'names':['Oliver','Mbugua'],'marks':[1,2]}

In [17]:
CDS_Class

{'names': ['Oliver', 'Mbugua'], 'marks': [1, 2]}

In [18]:
#CREATING TUPLES

tupple1 = (1,2,3,4,5,6,7,8,1)

In [23]:
bool(2)

True

In [24]:
#Creating a Set

set1 = {1,2,3,4,5}

list1 = {1,2,3,4,5}

tuppl1 = (1,2,3,4,5)

In [51]:
import random


for lista in range(1,6):
    for y in range(1,5):
        lista=[]
        lista.append(i)
        i = (random.randrange(y))
        print(lista)

[0]
[0]
[0]
[0]
[3]
[0]
[0]
[2]
[2]
[0]
[0]
[2]
[3]
[0]
[1]
[1]
[3]
[0]
[0]
[2]

In [52]:
listb = []
import random

for i in range(0,5):
    listb.append(random.randint(1,5000))
listb

[4334, 1647, 1727, 540, 1418]

In [56]:
ord('N')

78

In [58]:
ord('[')

91

In [60]:
for i in range(ord('N'),ord('[')):
    print(i)

78
79
80
81
82
83
84
85
86
87
88
89
90

In [98]:
import random

listc=[]

for i in range(0,20):
    listc.append(random.randint(0,100))
    
    if list1[++1] 
    
    
print(listc)
print(listc[1:])

[36, 83, 79, 95, 19, 50, 47, 82, 24, 21, 50, 32, 42, 17, 74, 38, 19, 58, 23, 73]
[83, 79, 95, 19, 50, 47, 82, 24, 21, 50, 32, 42, 17, 74, 38, 19, 58, 23, 73]

In [103]:
import random

l=[]

for i in range(0,20):
    l.append(random.randint(0,100))
    
    for i in range(0,20):
        if i%2==0:
            l[i]=l[i]/2
l

IndexError: list index out of range

In [109]:
import random
l = []

for i in range(0,20):
    l.append(random.randint(0,100))
for i in range(0,20):
    if i%2 == 0:
        l[i] = l[i]/2
l

[2.0,
 33,
 46.0,
 18,
 40.0,
 33,
 16.0,
 31,
 42.5,
 52,
 10.0,
 36,
 41.0,
 43,
 23.5,
 73,
 17.0,
 57,
 21.0,
 85]

In [110]:
class1= {'numbers':[]}
class1

{'numbers': []}

In [111]:
list2=[2,3,4,5,6,7]

In [112]:
class1['numbers']=list2

In [116]:
class1

{'numbers': [2, 3, 4, 5, 6, 7]}

In [117]:
class1['numbers'].append(9)

In [118]:
class1

{'numbers': [2, 3, 4, 5, 6, 7, 9]}

In [119]:
class1['numbers'].insert(2,44)

In [120]:
class1

{'numbers': [2, 3, 44, 4, 5, 6, 7, 9]}